.containerHome
{
  background-color: #343a40;
  border-radius: 1rem;
  opacity: 0.9;
}

.focusS:hover
{
  color: rgba(255, 255, 0, 0.973);
  text-decoration: none;
}

@media (min-width: 756px) {
  .text-start{font-size: 2.23rem;}
}

@media (max-width: 1026px) {
  .text-start{font-size: 20px;}
}